.Scorecard {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;

    width: 45vw;
    height: 45vw;

    min-width: 400px;
    min-height: 400px;

    max-width: 450px;
    max-height: 450px;

    margin-top: 200px;
    padding-bottom: 64px;
}

.Evals-Blurred > .Scorecard {
    opacity: 0.3;
    margin-top: 36px;
}